<a href="https://colab.research.google.com/github/angelitaanap/Data_Mining/blob/main/klasifikasi_Kepuasan_Penumpang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, train_test_split, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
import graphviz

In [ ]:
# read data from Kaggle
dataset = pd.read_csv('/content/Dataset kepuasan penumpang FIX.csv')
dataset

,Gender,Customer Type,Type of Travel,Class,Seat comfort,Food and drink,On-board service,Baggage handling,Checkin service,Cleanliness,satisfaction
0,Female,Loyal Customer,Personal Travel,Eco,0,0,3,3,5,3,satisfied
1,Male,Loyal Customer,Personal Travel,Business,0,0,4,4,2,3,satisfied
2,Female,Loyal Customer,Personal Travel,Eco,0,0,3,4,4,4,satisfied
3,Female,Loyal Customer,Personal Travel,Eco,0,0,1,1,4,1,satisfied
4,Female,Loyal Customer,Personal Travel,Eco,0,0,2,2,4,2,satisfied
...,...,...,...,...,...,...,...,...,...,...,...
129875,Female,disloyal Customer,Personal Travel,Eco,5,5,3,4,4,4,satisfied
129876,Male,disloyal Customer,Personal Travel,Business,2,2,2,3,1,2,dissatisfied
129877,Male,disloyal Customer,Personal Travel,Eco,3,3,4,4,2,3,dissatisfied
129878,Male,disloyal Customer,Personal Travel,Eco,3,3,3,3,2,1,dissatisfied
129879,Female,disloyal Customer,Personal Travel,Eco,3,3,5,5,3,3,dissatisfied

In [ ]:
dataset = dataset.dropna()

In [ ]:
dataset = dataset.dropna(axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [ ]:
dataset['satisfaction'] = enc.fit_transform(dataset['satisfaction'].values)
dataset['Gender'] = enc.fit_transform(dataset['Gender'].values)
dataset['Customer Type'] = enc.fit_transform(dataset['Customer Type'].values)
dataset['Type of Travel'] = enc.fit_transform(dataset['Type of Travel'].values)
dataset['Class'] = enc.fit_transform(dataset['Class'].values)

In [ ]:
dataset

,Gender,Customer Type,Type of Travel,Class,Seat comfort,Food and drink,On-board service,Baggage handling,Checkin service,Cleanliness,satisfaction
0,0,0,1,1,0,0,3,3,5,3,1
1,1,0,1,0,0,0,4,4,2,3,1
2,0,0,1,1,0,0,3,4,4,4,1
3,0,0,1,1,0,0,1,1,4,1,1
4,0,0,1,1,0,0,2,2,4,2,1
...,...,...,...,...,...,...,...,...,...,...,...
129875,0,1,1,1,5,5,3,4,4,4,1
129876,1,1,1,0,2,2,2,3,1,2,0
129877,1,1,1,1,3,3,4,4,2,3,0
129878,1,1,1,1,3,3,3,3,2,1,0
129879,0,1,1,1,3,3,5,5,3,3,0

In [ ]:
dataset.to_csv('dataset.csv', index=False)

In [ ]:
X = dataset.drop(['satisfaction',], axis=1) # drop target variable and ID from features
y = dataset['satisfaction']

In [ ]:
X = pd.get_dummies(X)

In [ ]:
# Memisahkan fitur (X) dan label (y)
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [ ]:
# Inisialisasi model Decision Tree
model = DecisionTreeClassifier()

In [ ]:
# K-Fold Cross Validation dengan K=5
kfold_5 = KFold(n_splits=5)
scores_5 = cross_val_score(model, X, y, cv=kfold_5)
print("Akurasi K-Fold (K=5):", scores_5.mean())

# K-Fold Cross Validation dengan K=10
kfold_10 = KFold(n_splits=10)
scores_10 = cross_val_score(model, X, y, cv=kfold_10)
print("Akurasi K-Fold (K=10):", scores_10.mean())

# Pembagian data dengan rasio 90:10
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)
model.fit(X_train, y_train)
accuracy_90_10 = model.score(X_test, y_test)
print("Akurasi rasio 90:10:", accuracy_90_10)

# Pembagian data dengan rasio 80:20
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model.fit(X_train, y_train)
accuracy_80_20 = model.score(X_test, y_test)
print("Akurasi rasio 80:20:", accuracy_80_20)


# Pembagian data dengan rasio 70:30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
model.fit(X_train, y_train)
accuracy_70_30 = model.score(X_test, y_test)
print("Akurasi rasio 70:30:", accuracy_70_30)

Akurasi K-Fold (K=5): 0.797651678472436
Akurasi K-Fold (K=10): 0.8521019402525407
Akurasi rasio 90:10: 0.9247767169695104
Akurasi rasio 80:20: 0.9215044656606098
Akurasi rasio 70:30: 0.9197464326044554

In [ ]:
print("Jumlah data latih:", X_train.shape[0])
print("Jumlah data uji:", X_test.shape[0])

Jumlah data latih: 90916
Jumlah data uji: 38964

In [ ]:
# create decision tree classifier object
clf = DecisionTreeClassifier()

In [ ]:
# Create the Decision Tree Classifier object using the C4.5 algorithm
clf = DecisionTreeClassifier(criterion='entropy')

In [ ]:
# train decision tree classifier
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [ ]:
# prepare data
X = dataset.drop('satisfaction', axis=1)
y = dataset['satisfaction']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# train decision tree
tree = DecisionTreeClassifier(max_depth=21, random_state=100)
tree.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=21, random_state=100)

In [ ]:
# evaluate decision tree
y_pred = tree.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.922389898367724

In [ ]:
# Menghitung nilai akurasi dari klasifikasi decision tree
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91     11686
           1       0.93      0.93      0.93     14290

    accuracy                           0.92     25976
   macro avg       0.92      0.92      0.92     25976
weighted avg       0.92      0.92      0.92     25976

In [ ]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[10670  1016]
 [ 1000 13290]]

In [ ]:
satisfied = 0
dissatisfied = 0

for i in range(len(y_pred)):
    if y_pred[i] == 0:
        dissatisfied += 1
    else:
        satisfied += 1

print("Jumlah pelanggan yang puas: ", satisfied)
print("Jumlah pelanggan yang tidak puas: ", dissatisfied)

Jumlah pelanggan yang puas:  14306
Jumlah pelanggan yang tidak puas:  11670